@using Phi.MobileWebApp.Resources
@{
    ViewBag.Title = @GlobalResources.AboutPage;
}

<div class="about">
    <div class="text">
        @GlobalResources.OurGoals
    </div>

    <div class="title">
        @GlobalResources.HelloThere
    </div>
    <div class="text">
        @GlobalResources.FillStoreProfile
        <br/>
        <a href="../UserProfile/Profile">@GlobalResources.Fill &raquo;</a>
    </div>

    @*<div class="title">
        @GlobalResources.ShareYourChoice
    </div>
    <div class="text">
        @GlobalResources.FillYourCloakroom
        <br />
        <a href="../DressRoom/DressRoom">@GlobalResources.DressingRoom &raquo;</a>
    </div>*@

    @*<div class="title">
        @GlobalResources.GetNotifications
    </div>
    <div class="text">
        @GlobalResources.GetNotificationsFull
        <br />
        <a href="../UserProfile/Profile">@GlobalResources.LearnMore &raquo;</a>
    </div>*@
    <br />
    <br />
    <h1>Donate!</h1>
    <br />
    <div>
        @GlobalResources.Donate<a href="https://www.paypal.me/optiklab">Pay Pal</a>
    </div>
</div>