@using Phi.MobileWebApp.Resources
@using Microsoft.AspNet.Identity
@model Phi.MobileWebApp.Models.ManageUserViewModel

<p>@GlobalResources.YouLoggedInAs <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br/>
    <h4>@GlobalResources.ChangePasswordForm</h4>
    @Html.ValidationSummary("", new { @class = "textDanger" })
    @Html.LabelFor(m => m.OldPassword, new { @class = "" })
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    @Html.LabelFor(m => m.NewPassword, new { @class = "" })
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    <input type="submit" value="@GlobalResources.ChangePassword"  />
}
