@using Phi.MobileWebApp.Resources
@model Phi.MobileWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = GlobalResources.ForgotYourPassword;
}
<div class="forgotContainer">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>@GlobalResources.EnterYourEmail</h4>
        @Html.ValidationSummary("", new { @class = "textDanger" })
        @Html.LabelFor(m => m.Email, new { @class = "" })
        @Html.TextBoxFor(m => m.Email, new { @class = "" })

        <input type="submit" value="@GlobalResources.SendNewPassword" />

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
